
wr-slot3d-item {
     .mk-slot-item {
      margin: 0;
      display: block;
      position: absolute;
      left: 10px;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      }
    
    .mk-label {
        white-space: wrap;
        font-size: 11px;
        line-height: 11px;
        position: absolute;
        bottom: 6px;
        -moz-only-whitespace: wrap; 
    }
    
      .mk-marquee {
        position: relative;
      }
    
      .mk-marquee span {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        text-align: center;      
        /* Starting position */
        -moz-transform:translateX(200%);
        -webkit-transform:translateX(200%);	
        transform:translateX(200%);
        /* Apply animation to this element */	
        -moz-animation: scroll-left 2.5s linear infinite;
        -webkit-animation: scroll-left 2.5s linear infinite;
        animation: scroll-left 2.5s linear infinite;
      }
  }
